[submodule "/home/smc181002/dotfiles/.config/kitty/kitty-themes"]
	path = /home/smc181002/dotfiles/.config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:ceoldevs/nvim.git
